:root {
  --first-color: #e3b8bf;
  --first-alpha-color: rgba(227, 184, 191, 0.8);
  --second-color: #cb7c89;
  --gray-color: #ccc;
  --white-alpha-color: #ffffff80;
  --black-alpha-color: #00000080;
  --font: "Raleway", sans-serif;
  --max-width: 1200px;
}

body {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.principal-color {
  background-color: var(--first-color);
}

/* - - - - - - - - - - HERO IMAGE - - - - - - - - - - */

.hero-image {
  background-image: url(../assets/logo.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hero-image--opacity {
  min-height: 88vh;
  background-color: var(--black-alpha-color);
}

.hero-image--title {
  font-size: 7.5vw;
}

/* - - - - - - - - - - - CAKES - - - - - - - - - - - */

.container {
  display: grid;
  grid-template-columns: repeat(1, 100%);
}

.card {
  width: 250px;
}

.btn,
.btn:hover {
  background-color: var(--first-color);
  border-color: var(--first-color);
  color: var(--black-alpha-color);
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: var(--first-alpha-color);
  border-color: var(--first-color);
  outline: none !important;
  box-shadow: var(--first-alpha-color);
}

/* - - - - - - - - - - BAKERY - - - - - - - - - - */

.slider {
  max-width: 600px;
  height: 400px;
  margin: 20px;
  border-radius: 20px;
}

.slides {
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slide {
  flex-shrink: 0;
  height: 400px;
  scroll-snap-align: center;
  margin-right: 0px;
  box-sizing: border-box;
  transform-origin: center center;
  transform: scale(1);
}

a.slide-prev,
.slider::before {
  transform: rotate(135deg);
  left: 5%;
}

a.slide-next,
.slider::after {
  transform: rotate(-45deg);
  right: 5%;
}

.slider::before,
.slider::after,
.slide-prev,
.slide-next {
  position: absolute;
  top: 48%;
  width: 35px;
  height: 35px;
  border: solid black;
  border-width: 0 4px 4px 0;
  padding: 3px;
  box-sizing: border-box;
}

.slider::before,
.slider::after {
  content: "";
  z-index: 1;
  background: none;
  pointer-events: none;
}

/* - - - - - - - - - - - - - ABOUT - - - - - - - - - - - - - */

hr {
  border: .15rem solid transparent;
  width: 80%;
  margin: auto;
}

/* - - - - - - - - - - - CONTACT FORM - - - - - - - - - - - */

.contact-form {
  display: grid;
  grid-template-columns: repeat(1, minmax(150px, 1fr));
  margin: 2rem auto;
}

.contact-form>* {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  font-size: 0.85rem;
}

.contact-form textarea {
  resize: none;
}

.contact-form *:focus {
  outline: none;
}

.contact-form *::placeholder {
  color: grey;
}

/* - - - - - - - - - MEDIA QUERIES - - - - - - - - - */

@media all and (min-width: 576px) {
  .hero-image--opacity {
    min-height: 87vh;
  }

  .container {
    grid-template-columns: repeat(2, 50%);
    margin: 0 1rem;
  }
}

@media all and (min-width: 992px) {
  .container {
    grid-template-columns: repeat(3, 33.33333%);
  }

  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    max-width: 800px;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1rem;
  }

  .contact-form textarea {
    grid-column: span 2;
  }

  .about {
    padding: 1rem;
  }
}