@import "utilities/variables";

.container {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  .card {
    width: 250px;
  }
}

.btn,
.btn:hover,
.btn:active,
.btn:focus {
  background-color: $first-color;
  border-color: $first-color;
  box-shadow: $first-alpha-color;
  color: $black-alpha-color;
}