@import "utilities/variables";

.hero-image {
  background-image: url(../assets/logo.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hero-image--opacity {
  min-height: 86vh;
  background-color: $black-alpha-color;
  @media all and (min-width: 576px) {
    min-height: 87vh;
  }
}

.hero-image--title {
  font-size: 7.5vw;
}
